<section class="container-full">
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-light" >
            <img src="/assets/title.png" class="img-fluid" alt="Responsive image">
            <p><%= @msg %></p>
        
            ◇地図
        <div class="map_wrapper">
            <div class="googlemap">
                <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E3%80%92131-0033+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A2%A8%E7%94%B0%E5%8C%BA%E6%8A%BC%E4%B8%8A%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%92&amp;aq=&amp;sll=36.5626,136.362305&amp;sspn=53.94961,65.478516&amp;brcurrent=3,0x60188ed6f17e043b:0x4125c98a00fe6965,0,0x60188ed6519eb29d:0x7eae6a97ce745cda&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A2%A8%E7%94%B0%E5%8C%BA%E6%8A%BC%E4%B8%8A%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%92&amp;t=m&amp;z=14&amp;ll=35.710033,139.810716&amp;iwloc=J&amp;output=embed"></iframe>
            </div><!--end of .googlemap--> 
            <p><a class="btn" href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E3%80%92131-0033+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A2%A8%E7%94%B0%E5%8C%BA%E6%8A%BC%E4%B8%8A%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%92&amp;aq=&amp;sll=36.5626,136.362305&amp;sspn=53.94961,65.478516&amp;brcurrent=3,0x60188ed6f17e043b:0x4125c98a00fe6965,0,0x60188ed6519eb29d:0x7eae6a97ce745cda&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A2%A8%E7%94%B0%E5%8C%BA%E6%8A%BC%E4%B8%8A%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%92&amp;t=m&amp;z=14&amp;ll=35.710033,139.810716" target="_blank">大きな地図で見る</a></p>
        </div><!--end of .map_wrapper--> 
    </div>
</section>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.ss</span>
    </div>
</footer>
